body {
	background-repeat: no-repeat;
	background-size: 1500px 720px;
}

h1{
	color: yellow;
	display: inline-block;
	font-size: 80px;
	font-family: cursive;
	position: fixed;
	top: 540px;
	left: 520px;
}

#submit{
	position: fixed; 
	top: 350px; 
	left: 820px;  
	border-radius: 100%;
  background-color: greenyellow;
  padding: 10px 24px;
  font-size: 30px;
  font-style: oblique;
}

#btn{
	background-color: red;
	padding: 20px 80px;
	margin-top: 10px;
	margin-left: 115px;
	cursor: pointer;
	border-radius: 30%;
	font-size: 40px;
	font-style: oblique;
	font-family: cursive;
}

.pizzas{
  margin-left: 50px;
  margin-top: 10px;
}

#price{
	color: lightblue;
}

#turk{
	background: url(./images/turkish.png);
	height: 200px;
	width: 200px;
	border-radius: 100%;
}
#turk:hover{
	transform: scale(1.1); 
}

#neptune{
	background: url(./images/neptune.png);
	height: 200px;
	width: 200px;
	border-radius: 100%;
}

#neptune:hover{
	transform: scale(1.1); 
}

#margarit{
	background: url(./images/margarit.png);
	height: 200px;
	width: 200px;
	border-radius: 100%;
}

#margarit:hover{
	transform: scale(1.1); 
}

#veget{
	background: url(./images/vegetarian.png);
	height: 200px;
	width: 200px;
	border-radius: 100%;
}

#veget:hover{
	transform: scale(1.1); 
}

.ul{
	margin-top: 205px;
	font-size: 30px;
	margin-left: 3px;
	color: white;
  font-size: 30px;
  font-family: cursive;
}

#custompizza{
	background:url(./images/gg.jpg);
	height : 200px;
	width: 200px;
	border-radius:  100%;
}

#custompizza:hover{
	transform: scale(1.1); 
}

.checking{
	margin-left: 250px;
	margin-top: -100px;
	font-size: 20px;
	font-style: oblique;
	font-family: cursive;
	color: darkorange;

}

.infos{
	position: fixed; 
	top: 600px;
	left: 20px;
	font-size: 25px;
  font-style: oblique;
  color: white; 
}